

body{
	background-image: url("../img/adminFondo.jpg");

	background-repeat:no-repeat;
	background-attachment: fixed;	
}

#div1{
	width:30%;
	float:left;

}

#div2{
	width:30%;
	float:left;
}